* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #203a43;
}
.navbar .logo-image, .navbar .user-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.navbar .logo-image { width: 64px; height: 64px; }
.navbar .section, .navbar .search-form, .navbar .nav-logo {
  display: flex;
  align-items: center;
}
.navbar .section { gap: 1rem; }
.navbar .nav-logo { gap: 0.5rem; text-decoration: none; }
.navbar .logo-text { font-size: 1.5rem; color: aliceblue; }
.navbar .menu-button {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #203a43;
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  width: 450px;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
}
.search-button {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  right: 0.4rem;
}
.main-layout {
  display: flex;
}
.main-layout .sidebar {
  width: 250px;
  height: 100vh;
  background-color: #e5e7eb;
  scrollbar-width: none;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-button {
  width: 100%;
  padding: 12px 15px;
  text-align: left;
  background: white;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar-button:hover {
  background: #203a43;
  transform: translateX(3px);
  color: white;
}
hr {
  border: none;
  height: 1px;
  background: #868686;
  margin: 10px 0;
}
.content-wrapper {
  padding: 0 1rem;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.category-list {
  display: flex;
  gap: 0.7rem;
  overflow-x: auto;
  padding: 1rem 0.5rem;
  scrollbar-width: none;
}
.category-button {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  background-color: #ececec;
  transition: all 0.3s ease-in-out;
}
.category-button:hover {
  background-color: #203a43;
  color: white;
  transform: scale(1.05);
}
.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: calc(25% - 15px);
  box-sizing: border-box;
}
.video-card {
  width: 250px;
  background: #f7f7fb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.video-card:hover {
  transform: scale(1.05);
}
.video-card img {
  width: 100%;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.video-content {
  padding: 15px;
  color: black;
}
.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}
.instructor {
  font-size: 14px;
  color: black;
}